*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 45%; } }

body {
  position: relative; }

.wrapper-center {
  margin-left: auto;
  margin-right: auto;
  width: 1200px; }
  @media only screen and (max-width: 75em) {
    .wrapper-center {
      width: 1000px; } }
  @media only screen and (max-width: 62.5em) {
    .wrapper-center {
      width: 800px; } }
  @media only screen and (max-width: 50em) {
    .wrapper-center {
      width: 600px; } }
  @media only screen and (max-width: 37.5em) {
    .wrapper-center {
      width: 450px; } }
  @media only screen and (max-width: 27.5em) {
    .wrapper-center {
      width: 320px; } }

.watch__wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 800px; }

.text-curved {
  font-size: 1.4rem;
  font-weight: 200;
  font-family: "Sitka Small";
  color: #183A60; }

.btn {
  padding: 1rem 2rem;
  text-align: center; }
  .btn-quick {
    width: 15rem;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    font-size: 1.4rem;
    font-weight: 200;
    background-color: transparent;
    color: #183A60;
    border: 1px solid #183A60;
    z-index: 100;
    visibility: visible;
    opacity: 0; }
    @media only screen and (max-width: 75em) {
      .btn-quick {
        padding: 1rem 1rem; } }
    .btn-quick:hover {
      background-color: #183A60;
      color: #fff; }
    .btn-quick:hover + .made__items-wraper-1:after {
      z-index: 1; }
  .btn-blue {
    background-color: #193960;
    color: #fff;
    border: none;
    font-size: 1.6rem;
    font-weight: 200;
    margin-bottom: 4rem; }
  .btn-small {
    font-size: 1.2rem; }
  .btn-video {
    color: #fff;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-family: "Droid Serif";
    font-weight: 100;
    border: 1px solid #fff;
    padding: 1rem 3rem; }
  .btn-white {
    background-color: transparent;
    border: 1px solid #193960;
    color: #193960;
    text-transform: uppercase;
    font-family: Constantia;
    margin-top: 4rem; }

.pd-top {
  padding-top: 10rem; }

.concordia__gallery {
  padding: 2rem 0;
  background-color: #fff; }
  .concordia__gallery-box {
    display: flex;
    flex-wrap: wrap; }
    .concordia__gallery-box-img {
      padding: 1rem;
      flex: 0 0 33%; }
      .concordia__gallery-box-img img {
        width: 100%;
        height: auto; }

.concordia__form {
  background-color: #fff;
  padding: 1rem 0; }
  .concordia__form-box h1 {
    font-family: Constantia;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    padding: 1.5rem;
    border-bottom: 1px solid #193960; }

.form-form-box {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.form-form {
  flex: 0 0 60%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }
  @media only screen and (max-width: 50em) {
    .form-form {
      flex-direction: column; } }
  .form-form label {
    flex: 0 0 50%;
    padding-top: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem;
    font-family: Constantia;
    color: #193960; }
    .form-form label span {
      color: brown;
      font-weight: 600; }
  .form-form textarea {
    margin-top: .5rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    width: 95%;
    border: 1px solid #193960;
    font-family: Arial; }
  .form-form input {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    padding: 1rem 2rem;
    width: 90%;
    border: 1px solid #193960; }
    @media only screen and (max-width: 50em) {
      .form-form input {
        width: 95%; } }
  .form-form-submit {
    display: inline;
    padding: 1.5rem 2rem !important;
    background-color: #193960;
    border: none;
    text-transform: uppercase;
    color: #fff;
    align-self: center;
    justify-self: start !important;
    width: 20% !important; }
    @media only screen and (max-width: 50em) {
      .form-form-submit {
        width: 40% !important; } }

.form__name {
  flex: 0 0 50%; }

.form__email {
  flex: 0 0 50%; }

.form__message {
  flex: 0 0 100%; }

.youtube__video {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; }

.youtube__video-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #193960; }
  .nav__icon {
    padding: .5rem 2rem;
    display: flex;
    align-items: center; }
    .nav__icon > * {
      padding: 0 1rem;
      font-size: 1.4rem;
      font-weight: 200;
      color: #fff; }
    .nav__icon p {
      font-size: 1.2rem;
      font-weight: 100; }
  .nav__connection {
    display: flex;
    align-items: center;
    padding: .5rem 2rem; }
    .nav__connection > * {
      padding: 0 .5rem;
      font-size: 1.4rem;
      font-weight: 200;
      color: #fff;
      margin: 0; }
    .nav__connection h3 {
      padding-right: 3rem; }

.doch {
  position: fixed !important;
  top: 0;
  background-color: #F6F6F6 !important; }

.shopping {
  z-index: 10;
  position: absolute;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 27.5em) {
    .shopping {
      flex-direction: column;
      align-items: center; } }
  .shopping-box {
    display: flex; }

.logo__img {
  height: 8rem;
  top: 5px;
  right: 5px; }
  @media only screen and (max-width: 27.5em) {
    .logo__img {
      position: absolute;
      padding: 1rem; } }

.sections {
  width: 40rem;
  padding: 2rem 1rem 2rem 1rem;
  display: flex;
  z-index: 10;
  list-style: none; }
  @media only screen and (max-width: 50em) {
    .sections {
      width: auto; } }
  @media only screen and (max-width: 400px) {
    .sections {
      justify-content: center;
      align-items: center;
      padding-bottom: 1rem; } }
  .sections > * :hover {
    color: #196190; }
  .sections__item {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: Arial;
    color: #193960;
    padding: .5rem 1rem;
    transform: scaleX(0.8); }
    @media only screen and (max-width: 50em) {
      .sections__item {
        font-size: 1rem;
        padding: 0; } }
    .sections__item-link {
      color: #193960;
      text-decoration: none;
      padding-bottom: .2rem; }
      .sections__item-link:active, .sections__item-link:focus, .sections__item-link:link {
        text-decoration: none; }
      .sections__item-link:hover {
        text-decoration: none;
        border-bottom: 1px solid #193960; }

.fas-1 {
  color: #2E2E2E; }

.btn-custom {
  font-size: 4rem;
  color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 100vh; }

.inner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .inner-content h1 {
    font-family: Constantia;
    color: #fff;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
  .inner-content p {
    font-size: 1.8rem;
    font-weight: 200;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    color: #fff;
    transform: scaleX(0.8); }
  .inner-content__button {
    display: flex;
    justify-content: center; }
    .inner-content__button > * {
      padding: 1rem 2rem;
      margin: 1rem;
      color: #fff;
      border: 1px solid #fff;
      background-color: rgba(200, 200, 200, 0.3);
      text-transform: uppercase;
      font-weight: 200;
      font-family: Arial;
      transform: scaleX(0.9); }
      .inner-content__button > *:focus {
        outline: 0; }
      .inner-content__button > *:hover {
        background-color: #fff;
        color: gray; }

.for-him,
.for-her {
  padding: 5rem 0;
  position: absolute;
  width: 100vw;
  top: 46px;
  display: none;
  background-color: #F6F6F6;
  justify-content: space-evenly; }
  @media only screen and (max-width: 50em) {
    .for-him,
    .for-her {
      padding: 3rem 0;
      flex-wrap: wrap; } }
  @media only screen and (max-width: 27.5em) {
    .for-him,
    .for-her {
      padding: 1rem 0;
      flex-wrap: wrap; } }
  .for-him__text,
  .for-her__text {
    color: #183A60;
    padding: 2rem;
    flex: 0 0 20%; }
    @media only screen and (max-width: 50em) {
      .for-him__text,
      .for-her__text {
        flex: 0 0 100%;
        display: flex;
        justify-content: space-evenly;
        padding: 2rem 2rem 0 2rem; } }
    .for-him__text p,
    .for-her__text p {
      font-size: 1.6rem;
      font-weight: 200;
      text-transform: uppercase;
      padding: 1rem 1rem 1rem .5rem;
      border-bottom: 1px solid #183A60; }
      @media only screen and (max-width: 50em) {
        .for-him__text p,
        .for-her__text p {
          display: none; } }
    .for-him__text ul,
    .for-her__text ul {
      list-style: none;
      padding: 1rem 1rem 0 1rem; }
      @media only screen and (max-width: 50em) {
        .for-him__text ul,
        .for-her__text ul {
          display: flex;
          justify-items: center; } }
      .for-him__text ul li,
      .for-her__text ul li {
        color: #193960;
        font-size: 1.2rem;
        font-weight: 200;
        padding-right: 1rem; }
        @media only screen and (max-width: 27.5em) {
          .for-him__text ul li,
          .for-her__text ul li {
            font-size: 1rem;
            padding-bottom: 0; } }
        .for-him__text ul li a,
        .for-her__text ul li a {
          text-decoration: none;
          color: inherit; }
  .for-him figure,
  .for-her figure {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    @media only screen and (max-width: 50em) {
      .for-him figure,
      .for-her figure {
        flex: 0 0 25%; } }
    .for-him figure img,
    .for-her figure img {
      width: 70%; }
    .for-him figure p,
    .for-her figure p {
      color: #183A60;
      font-size: 1.1rem; }

.for-bras {
  position: absolute;
  width: 100vw;
  top: 46px;
  display: none;
  background-color: #F6F6F6;
  align-items: center;
  justify-content: space-evenly; }
  @media only screen and (max-width: 27.5em) {
    .for-bras {
      top: 55px; } }
  .for-bras ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 1rem 1rem 1rem .5rem; }
    .for-bras ul li {
      color: #193960;
      font-size: 1.2rem;
      font-weight: 200;
      padding-bottom: 1rem; }
      .for-bras ul li a {
        text-decoration: none;
        color: inherit; }

.animation {
  visibility: visible; }

.animation:hover {
  visibility: visible;
  top: 50%;
  transition: all 1s;
  transition-delay: .4s; }

.made {
  text-align: center;
  padding: 2rem 1rem 3rem 1rem;
  background-color: #fff; }
  @media only screen and (max-width: 50em) {
    .made {
      padding: 2rem 0 0 0; } }
  .made__header {
    padding-bottom: .5rem;
    font-family: Constantia;
    font-size: 2.4rem;
    font-weight: 200;
    text-transform: uppercase;
    color: #183A60;
    border-bottom: 1px solid #183A60; }
    @media only screen and (max-width: 50em) {
      .made__header {
        font-size: 1.8rem; } }
  .made__items {
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: #fff; }
    @media only screen and (max-width: 50em) {
      .made__items {
        flex-direction: column; } }
    .made__items-wraper-1 {
      position: relative;
      height: 100%;
      width: 100%;
      margin-bottom: 1rem; }
      .made__items-wraper-1:hover:after {
        z-index: 1; }
      .made__items-wraper-1:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(200, 200, 200, 0.6), rgba(200, 200, 200, 0.6));
        z-index: -1;
        top: 0%; }
    .made__items-box {
      flex: 0 0 20%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin: 0; }
      @media only screen and (max-width: 50em) {
        .made__items-box {
          padding: 5rem; } }
      @media only screen and (max-width: 37.5em) {
        .made__items-box {
          padding: 1rem; } }
      .made__items-box img {
        height: auto;
        width: 100%;
        object-fit: cover;
        padding-bottom: 2rem; }
      .made__items-box-header {
        margin-top: 1rem;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 600;
        color: #183A60;
        padding-bottom: 1rem; }
      @media only screen and (max-width: 50em) {
        .made__items-box {
          font-size: 1rem; } }
      .made__items-box-price {
        font-size: 1.4rem;
        font-weight: 200;
        color: #183A60; }
        @media only screen and (max-width: 50em) {
          .made__items-box-price {
            font-size: 1rem; } }
  .made__label {
    padding: 1rem 4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    @media only screen and (max-width: 50em) {
      .made__label {
        padding: 1rem; } }
    .made__label-item {
      margin: 0rem;
      border: 2px solid lightgray;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-size: cover; }
      @media only screen and (max-width: 50em) {
        .made__label-item {
          width: 15px;
          height: 15px; } }
    .made__label_0-2 {
      background-image: url("../img/colors/0-2.png"); }
    .made__label_0-3 {
      background-image: url("../img/colors/0-3.png"); }
    .made__label_0-4 {
      background-image: url("../img/colors/0-4.png"); }
    .made__label_0-5 {
      background-image: url("../img/colors/0-5.png"); }
    .made__label_0-6 {
      background-image: url("../img/colors/0-6.png"); }
    .made__label_1-1 {
      background-image: url("../img/colors/1-1.png"); }
    .made__label_1-2 {
      background-image: url("../img/colors/1-2.png"); }
    .made__label_1-3 {
      background-image: url("../img/colors/1-3.png"); }
    .made__label_1-4 {
      background-image: url("../img/colors/1-4.png"); }
    .made__label_1-5 {
      background-image: url("../img/colors/1-5.png"); }
    .made__label_2-1 {
      background-image: url("../img/colors/2-1.png"); }
    .made__label_2-2 {
      background-image: url("../img/colors/2-2.png"); }
    .made__label_2-3 {
      background-image: url("../img/colors/2-3.png"); }
    .made__label_2-4 {
      background-image: url("../img/colors/2-4.png"); }
    .made__label_2-5 {
      background-image: url("../img/colors/2-5.png"); }
    .made__label_3-1 {
      background-image: url("../img/colors/3-1.png"); }
    .made__label_3-2 {
      background-image: url("../img/colors/3-2.png"); }
    .made__label_3-3 {
      background-image: url("../img/colors/3-3.png"); }
    .made__label_3-4 {
      background-image: url("../img/colors/3-4.png"); }
    .made__label_3-5 {
      background-image: url("../img/colors/3-5.png"); }
    .made__label_3-6 {
      background-image: url("../img/colors/3-6.png"); }
    .made__label_4-1 {
      background-image: url("../img/colors/4-1.png"); }
    .made__label_4-2 {
      background-image: url("../img/colors/4-2.png"); }

.content {
  padding: 4rem 0;
  background-color: #fff; }
  .content__wrapper {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 50em) {
      .content__wrapper {
        flex-direction: column; } }
  .content__text {
    flex: 0 0 50%;
    text-align: center;
    padding: 3rem; }
    @media only screen and (max-width: 50em) {
      .content__text {
        padding: 1rem; } }
    .content__text-header {
      font-size: 2.5rem;
      text-transform: uppercase;
      font-family: Constantia;
      font-weight: 200;
      color: #111120;
      margin-bottom: 2rem; }
    .content__text p {
      font-size: 1.4rem;
      font-family: "Fira Code";
      color: #183A60; }
  .content__img {
    flex: 0 0 50%; }
    .content__img-img {
      width: 100%;
      height: auto; }

.collection {
  background-color: #fff;
  padding: 3rem 0; }
  .collection__wrapper {
    text-align: center; }
  .collection-header {
    font-family: Constantia;
    font-size: 2.5rem;
    font-weight: 200;
    text-transform: uppercase;
    color: #183A60;
    padding-bottom: 2rem;
    border-bottom: 1px solid #183A60; }
  .collection__box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    .collection__box-item {
      flex: 0 0 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 2rem; }
      .collection__box-item p {
        font-size: 1.4rem;
        font-weight: 400;
        font-family: Constantia;
        text-transform: uppercase;
        margin-top: 1.1rem;
        color: #183A60; }
  .collection__img {
    height: 30rem;
    width: 30rem;
    background-size: cover; }
    .collection__img-1 {
      background-image: url(../img/watch/watch5/watch5.png); }
    .collection__img-2 {
      background-image: url(../img/gallery/1.png); }
    .collection__img-3 {
      background-image: url(../img/for/for-her-3.png); }
    .collection__img-4 {
      background-image: url(../img/gallery/2.png); }
    .collection__img-5 {
      background-image: url(../img/for/for-him-4.png); }
    .collection__img-6 {
      background-image: url(../img/gallery/3.png); }
    .collection__img-7 {
      background-image: url(../img/for/for-her-1.png); }
    .collection__img-8 {
      background-image: url(../img/gallery/4.png); }

.shops {
  text-align: center;
  position: relative;
  padding-bottom: 3rem;
  background-color: #fff; }
  .shops img {
    width: 100%;
    height: auto; }
  .shops__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .shops__caption p {
      font-family: Constantia;
      font-size: 1.8rem;
      font-weight: 400;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      color: #fff;
      text-transform: uppercase; }
    .shops__caption h1 {
      font-family: Constantia;
      font-size: 4rem;
      font-weight: 600;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      color: #fff;
      margin: 2rem 0;
      text-transform: uppercase; }

.paris {
  padding: 0;
  background-color: #fff; }
  .paris__wrapper {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 50em) {
      .paris__wrapper {
        flex-direction: column; } }
  .paris__text {
    flex: 0 0 50%;
    text-align: right;
    padding: 3rem 6rem; }
    @media only screen and (max-width: 50em) {
      .paris__text {
        padding: 1rem; } }
    .paris__text-header {
      font-size: 2.5rem;
      text-transform: uppercase;
      font-family: Constantia;
      font-weight: 200;
      color: #111120;
      margin-bottom: 2rem; }
      .paris__text-header a {
        text-decoration: none;
        color: inherit; }
    .paris__text button {
      margin-top: 4rem;
      padding: 1rem 2rem;
      color: #183A60;
      border: 1px solid #183A60;
      background-color: transparent;
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: 500;
      transition: all .3s; }
      .paris__text button:hover {
        background-color: #183A60;
        color: #fff; }
    .paris__text p {
      font-size: 1.4rem;
      font-family: "Fira Code";
      color: #183A60; }
  .paris__img {
    flex: 0 0 50%; }
    .paris__img-img {
      width: 100%;
      height: auto; }

.join {
  background-color: lightgray;
  text-align: center;
  padding: 2rem; }
  .join h1 {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: Constantia;
    font-weight: 200;
    padding: 2rem 0; }
  .join p {
    font-family: Constantia; }
  .join__form {
    padding: 2rem 0 4rem 0; }
    .join__form-form {
      display: flex;
      justify-content: center; }
    .join__form-email {
      padding: 1rem 2rem;
      border: none;
      flex: 0 0 40%; }
      @media only screen and (max-width: 62.5em) {
        .join__form-email {
          flex: 0 0 60%; } }
      @media only screen and (max-width: 37.5em) {
        .join__form-email {
          flex: 2; } }
    .join__form-submit {
      width: 6rem;
      text-align: center;
      text-transform: uppercase;
      font-family: Constantia;
      padding: 1rem 2rem;
      border: none;
      color: #fff;
      background-color: #183A60;
      flex: 0 1 10%; }
      @media only screen and (max-width: 62.5em) {
        .join__form-submit {
          flex: 0 0 20%; } }
      @media only screen and (max-width: 37.5em) {
        .join__form-submit {
          flex: 1; } }

.footer {
  padding: 4rem;
  background-color: #183A60; }
  .footer-wrapper-copyright {
    padding-top: 5rem;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 200;
    font-family: Constantia; }
  .footer__box {
    display: flex;
    align-items: start; }
    @media only screen and (max-width: 50em) {
      .footer__box {
        justify-content: center; } }
    @media only screen and (max-width: 37.5em) {
      .footer__box {
        flex-direction: column;
        align-content: center; } }
  .footer__logo {
    color: #fff;
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    @media only screen and (max-width: 37.5em) {
      .footer__logo {
        padding-bottom: 2rem;
        padding-top: 2rem;
        border-bottom: 1px solid #fff; } }
    .footer__logo img {
      margin-bottom: 2rem;
      width: 80%;
      height: auto; }
    .footer__logo h1 {
      font-size: 1.6rem;
      font-family: Constantia;
      font-weight: 200;
      text-transform: uppercase;
      padding-bottom: 3rem; }
    .footer__logo p {
      font-size: 1.2rem;
      font-weight: 100;
      font-family: Constantia;
      padding-bottom: 2rem; }
      .footer__logo p a {
        text-decoration: none;
        color: inherit; }
    .footer__logo h3 {
      font-size: 1.4rem;
      font-weight: 200;
      font-family: Constantia; }
      .footer__logo h3 a {
        text-decoration: none;
        color: inherit; }
  .footer__icon {
    display: flex;
    justify-content: flex-start; }
    .footer__icon > * {
      font-size: 2.5rem;
      padding: 1rem; }

.man {
  padding-top: 10rem;
  padding-bottom: 5rem; }
  .man__content {
    border-top: 1px solid #105A99;
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      .man__content {
        flex-direction: column;
        align-items: center; } }
    .man__content-sidebar-list {
      display: flex;
      flex-direction: column; }
      .man__content-sidebar-list > *:not(:last-child) {
        font-size: 1.4rem;
        padding-bottom: 2rem; }
    .man__content__sidebar {
      margin-top: 2rem;
      flex: 0 0 25%;
      border-right: 1px solid #105A99; }
      @media only screen and (max-width: 37.5em) {
        .man__content__sidebar {
          flex: 0 0 75%;
          border-right: none;
          border-bottom: 1px solid #105A99; } }

.no-border p {
  border-bottom: none; }

.no-border ul > * {
  padding-bottom: 2rem; }

.man-wrap {
  padding: 3rem 0;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .man-wrap > .made__items-box {
    flex: 0 0 22%; }

.man__label .made__label-item {
  height: 1.5rem;
  width: 1.5rem; }

.man__header {
  margin: 3rem 0 1rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem;
  font-family: Constantia;
  font-weight: 600;
  color: #183A60; }

.man__text {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: Constantia;
  font-weight: 200;
  color: #183A60; }

.history__main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/banner-2.jpg");
  background-size: cover;
  background-position: center; }
  .history__main__box {
    flex: 0 0 45%;
    text-align: center; }
    .history__main__box p {
      text-transform: uppercase;
      font-weight: 200;
      font-family: Constantia;
      font-size: 2rem;
      color: #fff;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
    .history__main__box h1 {
      text-transform: uppercase;
      font-weight: 600;
      font-family: Constantia;
      font-size: 4.5rem;
      color: #fff;
      padding: 2rem;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }

.history__history-text {
  padding: 3rem; }
  .history__history-text div h1 {
    text-align: center;
    font-family: Constantia;
    font-weight: 400;
    font-size: 2rem;
    color: #111120; }

.font-left {
  text-align: left !important; }

.history__video {
  color: #193960;
  text-align: center;
  padding-bottom: 6rem; }
  .history__video-holder {
    position: relative; }
  .history__video-box {
    padding: 2rem 0; }
    .history__video-box h1 {
      padding-bottom: 2rem;
      text-transform: uppercase;
      font-family: Constantia;
      font-size: 1.8rem;
      font-weight: 400;
      color: currentColor;
      border-bottom: 1px solid #193960; }
    .history__video-box p {
      font-family: Constantia;
      font-size: 1.6rem;
      line-height: 1.5;
      font-weight: 200;
      color: currentColor;
      padding: 2rem 0; }

.video-img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2; }
  .video-img img {
    width: 100%;
    height: auto; }

.video-text {
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }
  .video-text p {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 200;
    text-transform: uppercase;
    font-family: Constantia;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
  .video-text h1 {
    color: #fff;
    font-size: 4.5rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Constantia;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border: none;
    padding: 2rem 0; }

.shop__content {
  background-color: #fff;
  padding: 2rem; }
  .shop__content-box-top {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .shop__content-box-top > * {
      flex: 0 0 33%; }
    .shop__content-box-top img {
      width: 100%;
      height: auto; }
    .shop__content-box-top-middle {
      text-align: center; }
      .shop__content-box-top-middle h1 {
        font-weight: 200;
        font-family: Constantia;
        color: #183A60;
        padding: 1.5rem 0; }
      .shop__content-box-top-middle p {
        color: #183A60;
        padding: 1.5rem 0; }
  .shop__content-shop {
    background-color: #fff; }
    .shop__content-shop iframe {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
  .shop__content-shop-box {
    padding: 2rem;
    text-align: center; }
    .shop__content-shop-box h1 {
      color: #183A60;
      font-size: 1.8rem;
      font-family: Constantia;
      padding: 1.4rem; }
    .shop__content-shop-box p {
      padding: .5rem; }

.map-holder {
  position: relative;
  height: 65rem; }

.concordia-box {
  padding-top: 20rem; }

.concordia-wrapper {
  position: relative; }

.bg-white {
  background-color: #fff; }

.concordia__middle {
  background-color: #fff; }
  .concordia__middle-box {
    display: flex;
    justify-content: center; }
    .concordia__middle-box > * {
      flex: 0 0 33%; }
  .concordia__middle-img img {
    width: 100%;
    height: auto; }
  .concordia__middle-text {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    position: relative; }
  .concordia__middle-left {
    text-align: left;
    flex: 0 0 50%;
    border-right: 1px solid #183A60; }
    .concordia__middle-left h1 {
      font-size: 2.2rem;
      font-family: Arial;
      font-weight: 600;
      text-transform: uppercase;
      color: #183A60;
      padding-bottom: 2rem;
      padding-top: 5rem; }
    .concordia__middle-left > p:not(:last-child) {
      color: #183A60;
      font-family: Arial;
      font-weight: 600;
      font-size: 1.4rem;
      padding-bottom: 2rem; }
    .concordia__middle-left :last-child {
      color: #116A60;
      font-family: Arial;
      font-weight: 600;
      font-size: 1.4rem;
      padding-bottom: 2rem; }
  .concordia__middle-right {
    text-align: right;
    flex: 0 0 50%;
    border-left: 1px solid #183A60; }
    .concordia__middle-right h1 {
      font-size: 2.2rem;
      font-family: Arial;
      font-weight: 600;
      text-transform: uppercase;
      color: #183A60;
      padding-bottom: 2rem;
      padding-top: 5rem; }
    .concordia__middle-right > p:not(:last-child) {
      color: #183A60;
      font-family: Arial;
      font-weight: 600;
      font-size: 1.4rem;
      padding-bottom: 2rem; }
    .concordia__middle-right :last-child {
      color: #116A60;
      font-family: Arial;
      font-weight: 600;
      font-size: 1.4rem;
      padding-bottom: 2rem; }
  .concordia__middle-abs {
    background-color: #fff;
    position: absolute;
    text-align: center;
    z-index: 1;
    top: 60%;
    transform: translateY(-50%); }
    .concordia__middle-abs > p:first-child {
      padding-top: 1rem; }
    .concordia__middle-abs > p:not(:last-child) {
      color: #183A60;
      font-family: Arial;
      font-weight: 600;
      font-size: 1.4rem;
      padding-bottom: 2rem; }
      .concordia__middle-abs > p:not(:last-child) span {
        font-size: 1.2rem; }
    .concordia__middle-abs :last-child {
      color: #116A60;
      font-family: Arial;
      font-weight: 600;
      font-size: 1.4rem;
      padding-bottom: 1rem; }

.concordia-header {
  background-color: #fff; }
  .concordia-header-box {
    padding: 1rem;
    border-top: 1px solid #183A60;
    border-bottom: 1px solid #183A60; }
    .concordia-header-box h1 {
      text-transform: uppercase;
      font-size: 1.6rem;
      font-family: Constantia;
      font-weight: 200;
      color: #183A60; }

.watch__sale {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  z-index: 100;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  display: none; }
  .watch__sale-box {
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .watch__sale-box {
        flex-direction: column; } }
    .watch__sale-box > * {
      flex: 0 0 50%; }
  .watch__sale-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem; }
  .watch__sale-name {
    font-size: 1.8rem;
    font-family: Constantia;
    font-weight: 400;
    padding: 2rem 0;
    color: #183A60;
    text-transform: uppercase;
    border-bottom: 1px solid #183A60; }
  .watch__sale-price {
    font-size: 1.8rem;
    font-family: Constantia;
    font-weight: 400;
    padding: 2rem 0;
    color: #183A60; }
  .watch__sale-info {
    font-size: 1.6rem;
    font-family: Constantia;
    font-weight: 200;
    padding: 2rem 0;
    color: #183A60; }
  .watch__sale-header {
    font-size: 1.8rem;
    font-family: Constantia;
    font-weight: 400;
    padding: 2rem 0;
    text-align: center;
    color: #183A60;
    text-transform: uppercase;
    border-bottom: 1px solid #183A60;
    border-top: 1px solid #183A60; }
  .watch__sale-color {
    padding: 4rem 0; }
    .watch__sale-color h2 {
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 600;
      font-family: Constantia;
      color: #183A60; }
    .watch__sale-color-box {
      display: flex;
      align-items: center;
      padding-top: .5rem; }
      .watch__sale-color-box > * {
        height: 30px;
        width: 30px;
        border-radius: 50px;
        border: 2px solid #fff; }
  .watch__sale__button {
    justify-self: flex-start;
    width: 40%; }

.watch-img {
  width: 100%;
  height: auto; }

.button-close {
  padding: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent; }

.product__sale {
  display: flex !important;
  background-color: #fff !important;
  position: initial;
  z-index: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center; }

.product__shopping {
  position: initial;
  background-color: #fff !important; }
