.wrapper-center{
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  @media only screen and (max-width: $bp-largest){
    width: 1000px;
  }
  @media only screen and (max-width: $bp-large){
    width: 800px;
  }
  @media only screen and (max-width: $bp-medium){
    width: 600px;
  }
  @media only screen and (max-width: $bp-small){
    width: 450px;
  }
  @media only screen and (max-width: $bp-smallest){
    width: 320px;
  }

}
.watch__wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
.text-curved{
  font-size: 1.4rem;
  font-weight: 200;
  font-family: "Sitka Small";
  color: #183A60;
}
.btn{

  padding: 1rem 2rem;
  text-align: center;

  &-quick{
    width: 15rem;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    font-size: 1.4rem;
    font-weight: 200;
    background-color: transparent;
    color: #183A60;
    border: 1px solid #183A60;
    z-index: 100;
    visibility: visible;
    opacity: 0;
    @media only screen and (max-width: $bp-largest){

      padding: 1rem 1rem;
    }


    &:hover{
      background-color: #183A60;
      color: #fff;
    }
    &:hover + .made__items-wraper-1:after{
      z-index: 1;
    }
  }
  &-blue{
    background-color: #193960;
    color: #fff;
    border: none;
    font-size: 1.6rem;
    font-weight: 200;

    margin-bottom: 4rem;
  }
  &-small{
    font-size: 1.2rem;
    top: 60%;
    left: 18%;
  }
  &-video{
    color: #fff;
    background-color: transparent;

    text-transform: uppercase;
    font-size: 1.4rem;
    font-family: "Droid Serif";
    font-weight: 100;

    border: 1px solid #fff;

    padding: 1rem 3rem;
  }
  &-white{
    background-color: transparent;
    border: 1px solid #193960;
    color:#193960;

    text-transform: uppercase;
    font-family: Constantia;
    margin-top: 4rem;
  }
}
.pd-top{
  padding-top: 10rem;
}
.concordia__gallery{
  padding: 2rem 0;
  background-color: #fff;
  &-box{
    display: flex;
    flex-wrap: wrap;
    &-img{
      padding: 1rem;
      flex: 0 0 33%;
      & img{
        width: 100%;
        height: auto;
      }
    }
  }
}
.concordia__form{
  background-color: #fff;
  padding: 1rem 0;
  &-box{

    & h1{
      font-family: Constantia;
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: 400;
      text-align: center;
      padding: 1.5rem;
      border-bottom:1px solid #193960;
    }
  }
}
.form-form-box{
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-form{
  flex: 0 0 60%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  @media only screen and (max-width: $bp-medium){
   flex-direction: column;
  }


  & label{
    flex: 0 0 50%;
    padding-top: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem;
    font-family: Constantia;
    color: #193960;
    & span{
      color: brown;
      font-weight: 600;
    }
  }
  & textarea{
    margin-top: .5rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    width: 95%;

    border: 1px solid #193960;

    font-family: Arial;
  }
  & input{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    padding: 1rem 2rem;
    width: 90%;
    @media only screen and (max-width: $bp-medium){
      width: 95%;
    }

    border: 1px solid #193960;
  }
  &-submit {
    display: inline;
    padding: 1.5rem 2rem !important;
    background-color: #193960;
    border: none;
    text-transform: uppercase;

    color: #fff;
    align-self: center;
    justify-self: start !important;
    width: 20% !important;
    @media only screen and (max-width: $bp-medium){
      width: 40% !important;
    }
  }
}
.form{
  &__name{
    flex: 0 0 50%;
  }
  &__email{
    flex: 0 0 50%
  }
  &__message{
    flex: 0 0 100%
  }

}
