.content{
  padding: 4rem 0;
  background-color: #fff;
  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text{
    flex: 0 0 50%;
    text-align: center;
    padding: 3rem;
    &-header{
      font-size: 2.5rem;
      text-transform: uppercase;
      font-family: Constantia;
      font-weight: 200;

      color: #111120;
      margin-bottom: 2rem;
    }
    & p{
      font-size: 1.4rem;
      font-family: "Fira Code";
      color: #183A60;
    }
  }
  &__img{
    flex: 0 0 50%;
    &-img{
      width: 100%;
      height: auto;
    }
  }
}