.product__sale {
  display: flex !important;
  background-color: #fff !important;
  position: initial;
  z-index: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__shopping {
  position: initial;
  background-color: #fff !important;
}