.watch__sale{
  background-image: linear-gradient(rgba(0,0,0, .7),rgba(0,0,0, .7));
  z-index: 100;
  height: 100vh;
  width: 100vw;
  //display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left:0;
  display: none;
  &-box{
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    position: relative;
    &>*{
      flex: 0 0 50%
    }
  }

  &-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
  }
  &-name{
    font-size: 1.8rem;
    font-family: Constantia;
    font-weight: 400;
    padding: 2rem 0;
    color: #183A60;
    text-transform: uppercase;

    border-bottom: 1px solid #183A60;
  }
  &-price{
    font-size: 1.8rem;
    font-family: Constantia;
    font-weight: 400;
    padding: 2rem 0;
    color: #183A60;

  }
  &-info{
    font-size: 1.6rem;
    font-family: Constantia;
    font-weight: 200;
    padding: 2rem 0;
    color: #183A60;

  }
  &-header{
    font-size: 1.8rem;
    font-family: Constantia;
    font-weight: 400;
    padding: 2rem 0;
    text-align: center;
    color: #183A60;
    text-transform: uppercase;

    border-bottom: 1px solid #183A60;
    border-top: 1px solid #183A60;

  }
  &-color{
    padding: 4rem 0;
    & h2{
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 600;
      font-family: Constantia;
      color: #183A60;

    }
    &-box{
      display: flex;
      align-items: center;
      padding-top: .5rem;
      & >*{
        height: 30px;
        width: 30px;
        border-radius: 50px;
        border: 2px solid #fff;
      }
    }
  }
  &__button{
    justify-self: flex-start;
    width: 40%;
  }
}
.watch-img{
  width: 100%;
  height: auto;
}
.button-close{
  padding: 1rem;
  position: absolute;
  top:0;
  right:0;
  border: none;
  background-color: transparent;
}